.menu {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: auto;
}

.header-container {
	display: grid;
	justify-items: center;
	grid-template-columns: auto 1fr auto;
	max-width: 1760px;
	margin: auto;
}

.logo-container {
	justify-self: start;
	width: clamp(8.5rem, 3.9299rem + 6.3584vw, 11.56rem);
}

.logo {
	display: block;
}

.menu-buttons {
	max-height: 41.8px;
	justify-self: end;
	display: flex;
	align-items: center;
	gap: clamp(5px, 0.7vw, 10px);
}

.menu-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d9d9d9;
	border-radius: 60px;
	height: clamp(28px, 2vw, 40px);
	width: clamp(40px, 3vw, 55px);
	transition: filter 0.2s;
}

.menu-button img {
	width: clamp(17px, 1vw, 20px);
}

.menu-button.button-close img {
	width: clamp(15px, 1vw, 17px);
}

.menu-header {
	position: relative;
	z-index: 2;
	margin: auto;
	padding: clamp(10px, 1vw, 20px) clamp(50px, 4.2vw, 80px);
	font-size: clamp(14px, 1vw, 17px);
	text-transform: capitalize;
}

.navigation {
	/* max-width: 1920px; */
	width: 100%;
	position: fixed;
	z-index: 2;
	bottom: 22px;
	padding: 0 clamp(50px, 4.2vw, 80px);
	margin: auto;
}

.navigation-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	max-width: 1760px;
	margin: auto;
}

.nav-item {
	font-size: clamp(0.875rem, 0.5870rem + 0.5525vw, 1.25rem);
	font-family: ManropeMed;
	text-transform: uppercase;
	color: #999999;
	line-height: normal;
	transition: color 0.2s;
}

@media (hover:hover) {
	.nav-item:hover {
		color: black;
	}
}

.container {

	display: grid;
	align-content: center;
	position: absolute;
	top: 0;
	/* left: 50%;
	transform: translateX(-50%); */
	/* max-width: 1000px; */
	width: 100%;
	height: 100vh;
}

.slider-container {}

.slider {}

.slide {}

.slide-container {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 1760px;
	width: 100%;
	margin: auto;
	/* padding: 0 clamp(50px, 4.2vw, 80px); */
	/* aspect-ratio: 1.64; */
	box-sizing: content-box;
}

.slide-container::before {
	content: " ";
	position: absolute;
	top: 55%;
	left: -0%;
	transform: translate(0, -50%);
	background-color: #fff;
	width: 100%;
	height: 360px;
	z-index: -1;
}

.image {
	width: clamp(42rem, 1.0000rem + 51.2500vw, 62.5rem);
	width: clamp(30rem, -3.7983rem + 55.2486vw, 62.5rem);
	aspect-ratio: 1.64;
	object-fit: cover;
	border-radius: clamp(1.5rem, 0.7320rem + 1.4733vw, 2.5rem);
}

.slide-link {
	display: none;
}

.title-container {
	padding: 0;
	position: absolute;
	font-size: clamp(4rem, 0.3522rem + 6.9982vw, 8.75rem);
	top: 40%;
	left: 0%;
	transform: translate(0%, -50%);
	mix-blend-mode: difference;
	color: #fff;
	text-transform: uppercase;
}

.title {}

@media screen and (max-width:1150px) {

	.menu-header {
		padding: 10px clamp(1rem, -2.6346rem + 9.2308vw, 4rem);
	}

	.menu-buttons {
		gap: 10px;
	}
}

@media screen and (max-width: 835px) {

	.logo-container {
		width: auto;
	}

	.logo img {
		width: clamp(18px, 3vw, 24px);
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
	}

	.navigation {
		position: static;
		margin: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 8px;
		padding-bottom: 20%;
	}

	.nav-item {
		font-size: clamp(1.5rem, -0.0564rem + 7.7821vw, 4rem);
		color: black;
	}
}

@media screen and (max-width: 1920px) {

	.title-container {
		padding: 0 clamp(50px, 4.2vw, 80px);
	}
}